<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Wolmart eCommmerce Marketplace HTML Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Wolmart eCommmerce Marketplace HTML Template">
    <meta name="author" content="D-THEMES">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/icons/favicon.png">\
    
    <partial name="_P_Styles" />
  
</head>

<body class="home">
    <div class="page-wrapper">
        <partial name="_P_Header"/>

        @RenderBody()

       <partial name="_P_Footer"/>
    </div>

    <partial name="_P_Scripts"/>

    @RenderSection("Scripts", required: false)
</body>

</html>