<main class="main mt-5 container">
    <div class="page-header">
        <div class="container">
            <h1 class="page-title mb-0">Giới thiệu</h1>
        </div>
    </div>
    <div class="page-content mb-10 pb-2 mt-5">
        <div class="container">
            <div class="row gutter-lg">
                <div class="main-content">
                    <article class="post post-list post-listing mb-md-10 mb-6 pb-2 overlay-zoom mb-4">
                        <figure class="post-media br-sm">
                            <a href="post-single.html">
                                <img src="assets/images/blog/classic/1.jpg" width="930"
                                     height="500" alt="blog">
                            </a>
                        </figure>
                        <div class="post-details">
                            <div class="post-cats text-primary">
                                <a href="#">Fashion</a>
                            </div>
                            <h4 class="post-title">
                                <a href="post-single.html">New found the men dress for summer</a>
                            </h4>
                            <div class="post-content">
                                <p>
                                    Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo,
                                    eget blandit nunc tortor eu nibh. Suspendisse potenti.Sed egstas, ant at
                                    vulputate volutpat, uctus metus libero eu augue, vitae luctus…
                                </p>
                                <a href="post-single.html" class="btn btn-link btn-primary">(read more)</a>
                            </div>
                            <div class="post-meta">
                                by <a href="#" class="post-author">John Doe</a>
                                - <a href="#" class="post-date">03.05.2021</a>
                            </div>
                        </div>
                    </article>
                    <ul class="pagination justify-content-center">
                        <li class="prev disabled">
                            <a href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                <i class="w-icon-long-arrow-left"></i>Prev
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="next">
                            <a href="#" aria-label="Next">
                                Next<i class="w-icon-long-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End of Main Content -->
                <aside class="sidebar right-sidebar blog-sidebar sidebar-fixed sticky-sidebar-wrapper">
                    <div class="sidebar-overlay">
                        <a href="#" class="sidebar-close">
                            <i class="close-icon"></i>
                        </a>
                    </div>
                    <a href="#" class="sidebar-toggle">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <div class="sidebar-content">
                        <div class="sticky-sidebar">
                            <div class="widget widget-posts">
                                <h3 class="widget-title bb-no">Sản phẩm nổi bật</h3>
                                <div class="widget-body">
                                    <div class="owl-carousel owl-theme owl-nav-top row cols-1" data-owl-options="{
                                                'nav': true,
                                                'dots': false,
                                                'margin': 20
                                            }">
                                        <div class="widget-col">
                                            <div class="post-widget mb-4">
                                                <figure class="post-media br-sm">
                                                    <img src="assets/images/blog/sidebar/1.jpg" alt="150" height="150" />
                                                </figure>
                                                <div class="post-details">
                                                    <div class="post-meta">
                                                        <a href="#" class="post-date">March 1, 2021</a>
                                                    </div>
                                                    <h4 class="post-title">
                                                        <a href="post-single.html">Fashion tells about who you are from external point</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="post-widget mb-4">
                                                <figure class="post-media br-sm">
                                                    <img src="assets/images/blog/sidebar/2.jpg" alt="150" height="150" />
                                                </figure>
                                                <div class="post-details">
                                                    <div class="post-meta">
                                                        <a href="#" class="post-date">March 5, 2021</a>
                                                    </div>
                                                    <h4 class="post-title">
                                                        <a href="post-single.html">New found the men dress for summer</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="post-widget mb-2">
                                                <figure class="post-media br-sm">
                                                    <img src="assets/images/blog/sidebar/3.jpg" alt="150" height="150" />
                                                </figure>
                                                <div class="post-details">
                                                    <div class="post-meta">
                                                        <a href="#" class="post-date">March 1, 2021</a>
                                                    </div>
                                                    <h4 class="post-title">
                                                        <a href="post-single.html">Cras ornare tristique elit</a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-col">
                                            <div class="post-widget mb-4">
                                                <figure class="post-media br-sm">
                                                    <img src="assets/images/blog/sidebar/4.jpg" alt="150" height="150" />
                                                </figure>
                                                <div class="post-details">
                                                    <div class="post-meta">
                                                        <a href="#" class="post-date">March 1, 2021</a>
                                                    </div>
                                                    <h4 class="post-title">
                                                        <a href="post-single.html">Vivamus vestibulum ntulla nec ante</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="post-widget mb-4">
                                                <figure class="post-media br-sm">
                                                    <img src="assets/images/blog/sidebar/5.jpg" alt="150" height="150" />
                                                </figure>
                                                <div class="post-details">
                                                    <div class="post-meta">
                                                        <a href="#" class="post-date">March 5, 2021</a>
                                                    </div>
                                                    <h4 class="post-title">
                                                        <a href="post-single.html">Fusce lacinia arcuet nulla</a>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="post-widget mb-2">
                                                <figure class="post-media br-sm">
                                                    <img src="assets/images/blog/sidebar/6.jpg" alt="150" height="150" />
                                                </figure>
                                                <div class="post-details">
                                                    <div class="post-meta">
                                                        <a href="#" class="post-date">March 1, 2021</a>
                                                    </div>
                                                    <h4 class="post-title">
                                                        <a href="post-single.html">Comes a cool blog post with Images</a>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Widget posts -->
                           
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</main>