<main class="main">
    <partial name="P_BannerTop"/>

    <div class="container">
        <partial name="P_IntroShip"/>
     
        <partial name="P_BannerMid"/>

        <partial name="P_ProductHot"/>
    </div>
    <partial name="P_CategoryMonth"/>

    <div class="container">
        <partial name="P_ProductPopular"/>
    </div>
</main>

<partial name="P_Responsive"/>