<main class="main">
    <partial name="P_BannerTop"/>

    <partial name="P_CategoryMonth" />

    <div class="container">
     
        <partial name="P_BannerMid"/>

        <partial name="P_ProductHot"/>
    </div>
   

    <div class="container">
        <partial name="P_ProductPopular"/>

        <partial name="P_IntroShip" />
    </div>
</main>